<html>
<head>
    <title>My List</title>
</head>
<body>
    <h1>My Medication</h1>
    <ul>
        {% for item in items %} {# 'items' is the key from the context dictionary #}
            <li>
                <a href="{% url 'medication:detail' item.id %}">{{ item.name }}</a>
                - <a href="{% url 'medication:update' item.id %}">[edit]</a>
            </li>
        {% endfor %}

        <p><a href="{% url 'medication:add' %}">Add Medication</a></p>

        <p><a href="{% url 'home' %}">Return Home</a></p>

    </ul>
</body>
</html>